html, body {
    height: 100%;
    max-height: 100%;
}

.top-container {
    padding-top: 12%;
    max-width: 100%;
    margin: 0 auto;
}


@media screen and (max-device-width: 480px) {
.top-container {
    padding-top: 30%;
}
}

.general-container {
    background-color: ivory;
    background-image: url(https://static.xoedge.com/xo-guest-services/assets/guest/themes/birch_monarch/background_image-ff1057573f3dfd9e5f5682a229bd0d28.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100%;
   /* min-width: 320px;*/
}

.big_title {
    font-size: 5.5em;
}

.title {
    font-family: 'Great Vibes', cursive;
    .general_title;
    .big_title;
}



.text {
    .general_title;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.data {
    .general_title;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.title,.text,.data{
    color: darkblue;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid darkblue;
    margin: 20px auto;
    width: 30%;
    padding: 0;
}

.box_block {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

.box_block li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: uppercase;
}

@media screen and (max-device-width: 480px) {
.box_block li {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
}

.box_block li span {
  display: block;
  font-size: 4.5rem;
}
