{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nikolay ++ Maria</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Great+Vibes|Libre+Baskerville:400i,700" rel="stylesheet">

    <meta name="viewport" content="width=600,user-scalable=yes">
  </head>
  <body>
    <div class="general-container">
        <div class="top-container container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title big_title">Nikolay and Maria</h1>
                    <h3 class="text">invite you to celebrate their marriage</h3>
                    <h2 class="data">3TH OF JUNE 2018</h2>
                    <hr/>
                    <div id="count_down_timer"></div>
                    <hr/>
                    <h3 class="text">Time of the ceremony 10:45</h3>
                    <h3 class="data">Wedding Palace №1</h3>
                    <h3 class="data">Angliyskaya Naberezhnaya 28</h3>
                    <hr/>
                    <h3 class="text">Time of the party 14:30</h3>
                    <h3 class="data">Restaurant "Vesenniy"</h3>
                    <h3 class="data">Pr. Rimskyi-Koraskova str. 83/85</h3>
                </div>
            </div>
        </div>
    </div>
  </body>
  <script src="{% static 'js/count_down_timer.js' %}"></script>
</html>
